@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-dark-500;
}

h1 {
  @apply text-dark-60;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 0 0.2em 0;
}

h2 {
  @apply text-dark-50 font-bold;
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

.card {
  @apply  bg-dark-200 pl-8 pt-6 pb-8 pr-8 mb-8 min-w-[320px] w-full overflow-hidden
}

a {

  &[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    // colorize b/w image to amber
    filter: invert(76%) sepia(37%) saturate(7002%) hue-rotate(5deg) brightness(91%) contrast(84%);
  }

  @apply text-amber-400
}


p {
  @apply text-dark-50 mb-2
}